.card__container{
  position: relative;
  border: 3px solid #3E4357;
  border-radius: 10px;
  width: 350px;
  height: 500px;

  display: flex;
  overflow: hidden;
  margin-top: 10px;
}

.card__imagem {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  transition: transform 0.9s;
}

.card__imagem:hover {
  transform: scale(1.1);

}
