<div class="home__container">
  <app-card gameImage="https://image.api.playstation.com/vulcan/ap/rnd/202306/1219/60eca3ac155247e21850c7d075d01ebf0f3f5dbf19ccd2a1.jpg" gameLabel="Exclusivo" gameType="DIGITAL PS5" gamePrice="299"></app-card>
  <app-card gameImage="https://image.api.playstation.com/cdn/UP1004/CUSA00419_00/bTNSe7ok8eFVGeQByA5qSzBQoKAAY32R.png" gameLabel="Exclusivo" gameType="DIGITAL PS4 / PS5" gamePrice="199"></app-card>
  <app-card gameImage="https://image.api.playstation.com/vulcan/ap/rnd/202106/1704/JzL1NLQvok7Pghe9W5PP2XNV.png" gameLabel="Exclusivo" gameType="DIGITAL PS4 / PS5" gamePrice="399"></app-card>
  <app-card gameImage="https://image.api.playstation.com/vulcan/ap/rnd/202307/0710/b44ff24284dbd48229a8537f3012dbeb30b6472d827eee32.png" gameLabel="Exclusivo" gameType="DIGITAL PS5" gamePrice="499"></app-card>
  <app-card gameImage="https://image.api.playstation.com/cdn/UP4064/CUSA05724_00/tCIJdrp1aL1apHv3X1zUFiUJ8venl4B2.png" gameLabel="Grátis na PS+" gameType="DIGITAL PS4" gamePrice="399"></app-card>
  <app-card gameImage="https://image.api.playstation.com/vulcan/ap/rnd/202207/1210/4xJ8XB3bi888QTLZYdl7Oi0s.png" gameLabel="Exclusivo" gameType="DIGITAL PS5" gamePrice="399"></app-card>


</div>

