<div class="banner__sony">
  <img src="https://cdn.freebiesupply.com/images/large/2x/sony-logo-black-and-white.png" alt="sony logo">
</div>
<div class="menu-bar__container">
  <div class="menu-bar__left">
      <div class="menu-bar__logo">
        <img src="https://blog.br.playstation.com/tachyon/sites/4/2023/10/2896762d706df55a8665040adafe915fcc270bfe.png?fit=512%2C512" alt="PSN LOGO">
      </div>
      <div class="menu-bar__item">
        <ul>
          <li><a href="#">Jogos</a></li>
          <li><a href="#">PS5</a></li>
          <li><a href="#">PS4</a></li>
          <li><a href="#">Serviços</a></li>
          <li><a href="#">Acessórios</a></li>
          <li><a href="#">Notícias</a></li>
          <li><a href="#">Loja</a></li>
          <li><a href="#">Suporte</a></li>
        </ul>
      </div>
  </div>
  <div class="menu-bar__right">
    <div class="menu-bar__login">
      <button class="menu-bar__login__btn">Iniciar sessão</button>
    </div>
    <div class="menu-bar__search">
      <button class="menu-bar__search__btn"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg></button>

    </div>
  </div>
</div>


