/* You can add global styles to this file, and also import other style files */
*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: rgb(222,222,222);
  background-color: radial-gradient(circle, rgba(222,222,222,1) 0%, rgba(255,255,255,1) 100%);
}
